body {
    background-color: #0e293c;
}

.image-to-show {
    width: 400px;
    height: 400px;
    display: block;
    box-sizing: border-box;
    border-radius:  50%;
    box-shadow: 15px 1px 5px 0px rgba(0,0,0,0.75);
}

.images-wrapper {
    width: 425px;
    height: 400px;
    margin: 30px auto;
    overflow: hidden;
}

.slider {
    height: 260px;
    width: 1800px;
    position: relative;
    display: flex;

}

.buttons {
    display: flex;
    align-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    width: 169px;
    height: 63px;
    border-radius: 4px;
    background: #003c67;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: background-color 0.3s ease;
    margin-left: 19%;
    margin-right: 22%;
}

.btn:hover {
    background-color: #00528b;
}
